input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.body_class {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0);
  display: block;
}

.button_class {
  margin: 10px 0;
  min-width: 200px;
  max-width: 200px;
}

.form_class {
  min-width: 50%;
  max-width: 50%;
  margin: 0 auto;
}

.form_element_class {
  margin: 10px 0;
}

.table_heading_class {
  margin-top: 50px;
}

.table_buttons {
  min-width: 100px;
}
